@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*  Custom fonts by @fontface*/
/*@font-face {
    font-family: 'Roboto bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*/


@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", "sans-serif";
  /*  --font-roboto1: "Roboto bold"; */
}

/* D:\vidhyashri\html\html-installation */
/*https://www.canva.com/design/DAGx5pVJflk/e8-D4knIFaIwsrox8UHF5Q/edit*/
/*npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch*/
html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

@keyframes spinGlow {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 10px #4fcdf4, 0 0 20px #0d2f42;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 20px #3b0ce7, 0 0 40px #e9e652;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 10px #4fcdf4, 0 0 20px #0d2f42;
  }
}

.loader-circle {
  animation: spinGlow 2s linear infinite;
}